.greyline {
  height: 100px;
  width: 1px;
  background-color: grey;
}

.awards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
h1 {
  margin-bottom: 50px;
}
